
annotated-doc
annotated-types
bcrypt
dotenv
fastapi
pydantic
PyJWT
PyMySQL
SQLAlchemy
uvicorn


langchain
langgraph
langgraph-checkpoint-sqlite

langchain-chroma
langchain-openai
pdfplumber
pandas
python-multipart