
annotated-doc
annotated-types
bcrypt
dotenv
fastapi
pydantic
PyJWT
PyMySQL
SQLAlchemy
uvicorn


langchain
langgraph
langgraph-checkpoint-sqlite
langchain_text_splitters
langchain_core

langchain-chroma
langchain-openai
pdfplumber
pandas
python-multipart